#dishes-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
    width: 60vw;
}

#dish-card {
    margin: 20px;
}

#addButton {
    width: 80px;
    height: 50px;
    color: gray;
    background-color: white;
    cursor: pointer;
    border-color: #dbcec3;
    font-family: "Papyrus";
}
