<body>
        <div id="all">
                <button id="addButton" (click)="addDish()">add new dish</button>
                <div id="dishes-container">
                        <app-menu-card *ngFor="let dish of dishesRef | async" (newItemEvent)="deleteDish($event)" 
                                [dishId] = "dish.id"
                                [dishName]= "dish.data.name" 
                                [dishOrigin] = "dish.data.origin"
                                [dishType] = "dish.data.type"
                                [dishQuantity]="dish.data.quantity"
                                [dishPrice]="dish.data.price"
                                [allPhotos]="dish.data.photos">
                        </app-menu-card>
                </div>
        </div>
</body>
