#all {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Papyrus";
    justify-content: space-evenly;
    margin-top: 40px;
}

#dishes-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
    width: 60vw;
    margin-top: 50px;
}

#dish-card {
    margin: 20px;
}

#addButton {
    width: 80px;
    height: 50px;
    color: gray;
    background-color: white;
    cursor: pointer;
    border-color: #dbcec3;
    font-family: "Papyrus";
}
