#navbar {
    background-color: white;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 0px 10px gray;
    font-size: larger;
}

#logo {
    height: 8vh; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#order {
    background-color: #dbcec3;
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    cursor: pointer;
}

p {
    color: gray;
    cursor: pointer;
}

#content {
    height: 90vh;
    width: 100vw;
}

#menu {
    text-decoration: underline;
    text-underline-offset: 5px;
}