#summary {
    height: 60vh;
    width: 60vw;
    font-family: "Papyrus";
    color: gray;
}

#title {
    text-align: center;
}

#listEl, #elNames, #priceSummary {
    display: flex;
    justify-content: space-evenly;
}

#listbox {
    min-height: 30vh;
    display: grid;
    grid-gap: 2em;
    padding: 20px;
    border-radius: 4px;
    background: #dbcec3;
    display: flex;
    flex-direction: column;
}

[role="listbox"] {
    min-height: 20vh;
}

#dishesList {
    position: relative;
    margin-top: 0px;
    overflow-y: auto;
    max-height: 20vh;
    border: 1px solid gray;
    background: white;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

#paymentButton, #continueButton {
    width: 80px;
    height: 50px;
    color: gray;
    background-color: white;
    cursor: pointer;
    border-color: #dbcec3;
    font-family: "Papyrus";
}
