<div id="summary">
    <h3 id="title">Order Summary</h3>
    <div id="listbox">
        <div id="elNames">
            <p id="elName">Dish:</p>
            <p id="elAmount">Amount:</p>
            <p id="elPrice">Price:</p>
        </div>
        <ul id="dishesList" tabindex="0" role="listbox" aria-labelledby="elNames">
            <li id="listEl" *ngFor ="let dish of this.service.addedDishes">
                <p id="name">{{dish.name}}</p>
                <p id="number">{{dish.number}}</p>
                <p id="price">{{dish.price}}€</p>
            </li>
        </ul>
    </div>
    <div id="buttons">
        <button id="continueButton" routerLink="/menu" (click)="closeDialog()">continue shopping</button>
        <div id="priceSummary">
            <p id="sum">Sum:</p>
            <p id="total">{{this.service.totalSum}}€</p>
        </div>
        <button id="paymentButton" routerLink="/payment"  (click)="goToPaymentPage()">go to payment</button>
    </div>
</div>