#all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 86%;
    width: 100%;
    margin-top: 0px;
    background-image: url('../../assets/images/background.jpg');
}

#content {
    background-color: #dbcec3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, p {
    color: white;
}

button {
    width: 80px;
    height: 50px;
    color: gray;
    background-color: white;
    cursor: pointer;
    border-color: #dbcec3;
    font-family: "Papyrus";
    margin: 20px;
}